body {
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}

#close {
  position:absolute;
  left: 21em;
}

p.main {
  font-size: 24px;
}

.map {
    position: absolute;
    right: 0px;
    left: 400px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 400px;
    top: 30px;
    bottom: 0px;
    overflow-y: auto;
    font-size: 16px;
}

.legend {
  position: absolute;
  left: 500px;
  top: 10px;
  z-index: 2000;
  font-size: 1.5em;
}

.legend-colors {
  display: inline-block;
    width: 10px;
    height: 5px;
    padding: 10px;
    position: relative;
    border:1px solid #000;
}

#monday-color {
  background-color: #8dd3c7;
}
#tuesday-color {
  background-color: #ffffb3;
}
#wednesday-color {
  background-color: #bebada;
}
#thursday-color {
  background-color: #fb8072;
}
#friday-color {;
  background-color: #80b1d3;
}
